.pieChartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.recharts-default-tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    z-index: 1;
}

.recharts-legend-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .pieChartContainer {
        max-width: 400px; /* Adjusted for smaller screens */
    }
}
