.warehouseOverview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.overviewContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%; 
    gap: 20px;
    flex-wrap: wrap;
}

.tableSection {
    flex: 1;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 20px;
}

.chartSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pieChartContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .overviewContent {
        flex-direction: column;
        gap: 20px;
    }

    .tableSection {
        max-height: 500px; /* Adjust for medium-sized screens */
    }
}

@media (max-width: 768px) {
    .overviewContent {
        flex-direction: column;
        gap: 15px; /* Reduced gap for smaller screens */
    }

    .tableSection {
        max-height: 400px; /* Adjust for smaller screens */
    }
}

@media (max-width: 480px) {
    .overviewContent {
        flex-direction: column;
        gap: 10px; /* Further reduced gap for extra-small screens */
    }

    .tableSection {
        max-height: 300px; /* Adjust for very small screens */
    }
}
