.warehouseOverview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overviewContent {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.tableSection {
    flex: 1;
    overflow-y: auto;
    max-height: 500px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.chartSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.barChartContainer,
.pieChartContainer {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.pieChartContainer {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pieChartContainer .rechartsDefaultTooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    z-index: 1;
}

.pieChartContainer .rechartsLegendWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}
