.warehouse-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview-content {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.table-section {
    flex: 1;
    overflow-y: auto;
    max-height: 500px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.chart-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bar-chart-container, .pie-chart-container {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.pie-chart-container {
    width: 100%;
    max-width: 400px;
}

.pie-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pie-chart-container .recharts-default-tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    z-index: 1;
}

.pie-chart-container .recharts-legend-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}
